body{
    margin:0;
    padding:0;
    color:maroon;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

h1{
    font-size: 60px;
    text-transform: uppercase;
}

.container{
    padding: 40px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.box{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: maroon;
    background-color: burlywood;font-size: 100px;

}

button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: maroon;
    color: burlywood;
    border-color: maroon;
    font-size: 15px;
    transition: 200ms transform;
}

button:hover{
    cursor: pointer;
}